body {
    font-family: "Amiri", serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    direction: rtl;
    text-align: right;
    background: linear-gradient(45deg, #F0E1CE, #C46A6F);
}

.global {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 38%;
    padding: 20px;
    background-color: #ffffff5b;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    backdrop-filter: blur(40px);
    position: absolute;

}

.global::before {
    content: '';
    width: 170px;
    height: 170px;
    background: #b7474d9d;
    border-radius: 5px;
    position: absolute;
    left: -90px;
    top: -80px;
    z-index: -1;
}

.global::after {
    content: '';
    width: 180px;
    height: 180px;
    background: #ffae4589;
    border-radius: 50%;
    position: absolute;
    right: -100px;
    bottom: -90px;
    z-index: -1;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.input-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.input-container input {
    width: 100%;
    margin: 10px;
    padding: 10px 30px 10px 30px;
    border-radius: 100px;
    border: none;
    outline: none;
    font-size: 13px;
    background-color: rgba(255, 255, 255, 0.556);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.input-container input:focus {
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-container .material-icons {
    position: absolute;
    left: 10px;
    color: #666565;
    font-size: 20px;
    padding-left: 5px;
}

button {
    margin: 10px;
    width: 96%;
    padding: 10px 5px;
    border-radius: 100px;
    border: none;
    background: linear-gradient(45deg, #C46A6F, #D35B5B);
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease, box-shadow 0.3s ease;
}

button:hover {
    background: linear-gradient(45deg, #D35B5B, #C46A6F);
    box-shadow: 0 0 15px rgba(52, 52, 52, 0.493);
}

p {
    margin-top: 10px;
    font-size: 14px;
    color: #ffffff;
}

p a {
    color: #3b3a3a;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

p a:hover {
    color: #C46A6F;
    text-decoration: underline;
}

.signup h1,
h1 {
    text-align: center;
    color: hsl(0, 0%, 100%);
}

@media (max-width: 650px) {
    .global {
        width: 70%;
    }
}